* {
  background-color: #000000;
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
}


body {
  margin: 0;
  width: 110vh;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* The Box surrounding the text  */

.board {
  min-width: 500px;
  margin: 0 auto;
  border: 6px solid #ffd4f4;
  border-radius: 8px;
  min-height: 250px;
  text-align: center;
  padding: 25px 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Border Lights */
  box-shadow: inset 0 0 22px 3px rgba(255, 255, 255, 0.35),
                    0 0 28px 5px rgba(255, 255, 255, 0.35);
                    
  /* Animation */
  animation: blink 0.15s infinite alternate;
}

.text{
  width: 100%;
  font-size: 6.5em;
  font-family: 'Bangers', cursive;
  color: #FFD9E2;
  white-space: pre;
  position: relative;

  /* Text Lights */
  text-shadow: 0 0 0 transparent,
              0 0 10px #005BBB, 
              0 0 20px rgba(255, 0, 60, 0.5),
              0 0 40px #005BBB,
              0 0 300px #005BBB,
              0 0 200px #005BBB,
              0 0 300px #005BBB,
              0 0 500px #005BBB;

  /* Animation */
  animation: flicker 5s infinite alternate;
}

/* Top Bar */
.text::before {
  content: "";
  position: absolute;
  height: 6px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #FFFCD7;
  border-radius: 8px;

  /* Top Bar Lights */
  box-shadow: inset 0 0 18px rgba(251, 255, 0, 0.35),
                    0 0 18px 5px rgba(251, 255, 0, 0.35);

  /* Animation */
  animation: blink 0.15s infinite alternate;
}

/* Bottom Bar */
.text::after {
  content: "";
  position: absolute;
  height: 6px;
  Bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #FFFCD7;
  border-radius: 8px;

  /* Bottom Bar Lights */
  box-shadow: inset 0 0 18px rgba(251, 255, 0, 0.35),
                    0 0 18px 5px rgba(251, 255, 0, 0.35);

  /* Animation */
  animation: blink 0.15s infinite alternate;
}


/* About Me Content */
.abtInfo {
  width: 950px;
  position: absolute;
  color: #FFFFFF;
  top: 500px;
  left: 450px;
  text-align: right;
  font-family: 'Press Start 2P', cursive;
}




/* Actions */
@keyframes blink {
  75% {
    opacity: 0.95;
  }
}

@keyframes flicker {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.65;
  }
  46% {
    opacity: 1;
  }
}