/* May use the 60/30/10 rule 
Yellow/ Black/ White with subtle others */
/* People scan webpages in an F format
So NavBar could be either. */


/* Font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');



* {
  background-color: #ffff64;
}


/* canvas {
  position: fixed;
  top: 0;
  left: 0;
} */


/* ====== BODY TAG ====== */
body {
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: #ffff64;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
}


/* ====== PAGE GRID LAYOUT ====== */
.grid-container {
  display: grid;
  gap: 0.8rem;

  /* grid-template-columns: repeat(auto-fit, minmax(240px 1fr)); */
  grid-template-columns: 1.8fr repeat(2, 1.2fr);
  grid-template-rows: 80px 340px;
  grid-auto-rows: 330px;
}

.nav-bar {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
}




/* ====== INTRODUCTION ====== */

.intro-container {
  /* font-family: 'proxima-nova', sans-serif; */
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-family: 'Montserrat', sans-serif;
  line-height: 0;
  font-size: 50px;
  justify-content: left;
  text-align: left;
  padding: 1rem;
  border-left: 4px solid #000000;
}

/* <font style="
 font-weight: 100;
font-size: 50%;
">By: JACKY HE</font> */

.reg {

  color: #000000;
  font-size: 110%;
  font-weight: 100;
}

.highl {
  color: #000000;
  font-size: 170%;
  font-weight: bolder;
}



/* ====== ABOUT ME ====== */

#aboutme {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

.about-me-subheading {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #000000;
  padding: 1rem;
  border-left: 4px solid #000000;
}

/* Base Text excluding beginning words. */
.about-me-info {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 2;
}